div {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

body {
    background: #3a015c;
    background: linear-gradient(#3a015c, #11001c)
}

h1, p {
    color: whitesmoke;
}